.reply {
  margin-top: 0px;
}

li {
  transition: .5s;
  overflow: hidden;
}

.handle {
  background: #fff;
  position: absolute;
  right: 2px;
  top: 1px;
  text-align: center;
}

.list-group-item .centence {
  padding: 0px 50px;
}

.user {
  font-size: 22px;
}

.del{
  color: #337ab7;
  cursor: pointer;
}